/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
margin: 0px;
border: 0px;
}
.body{
margin: 0%;
padding: 0%;
background-image: url(./element5-digital-T9CXBZLUvic-unsplash.jpg);
background-size: cover;
overflow: hidden;
overflow-x: hidden;
}
.forms{
max-width: 350px;
border-radius: 20px;
margin: auto;
background: #123250d0;
padding: 40px;
color: #fff;
margin-top: 100px;
}
.forms-create{
max-width: 700px;
margin: auto;
padding: 40px;
margin-top: 100px;
}
h2, h3{
text-align: center;
color: white;
}
.navbar h2{
text-align: start;
margin-left: 8px;
}
input[type=text], input[type=email], input[type=password]{
width: 100%;
box-sizing: border-box;
padding: 12px 5px;
background: none;
outline: none;
border: none;
border-bottom: 2px solid white;
color: #fff;
margin: 5px;
font-weight: bold;
}
input[type=submit]{
width: 100%;
box-sizing: border-box;
padding: 10px 0;
margin-top: 30px;
outline: none;
border: none;
background: #83bcd3;
opacity: 0.7;
border-radius: 20px;
font-size: 20px;
color: white;
}
input[type=submit]:hover{
background: #234a7e;
opacity: 0.7;
} 


.forms-create{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
flex-wrap: wrap;
}

.forms-create > form input[type=text]#create{
width: 100%;
margin: 5px;
color: black;
font-weight: bold;

}
.forms-create form input[type=submit]#create{
width: 50%;
box-sizing: border-box;
max-width: 50%;
border-radius: 20px;
font-size: 20px;
color: black;
}

.forms-create form input[type=submit]:hover{
background: #123250d0;
}
.navbar{
display: grid;
grid-template-columns:  8fr .7fr .7fr;
background-color:rgb(82, 111, 192);
color: white;
}
.navbar a{
color: white;
font-weight: bold;
text-decoration: none;
padding-top: 300px;
}
.btn{
height: 10px;
padding-top: 20px;
text-transform: uppercase;
}
p{
font-size: 12px;
text-align: center;
}
p a {
text-decoration: none;
color: white;
font-weight: bold;
font-size: 15px;
}
.icon{
width: 100%;
height: 120px;
background-color:rgb(82, 111, 192);
color: white;
text-align: center;
padding-top: 5px;
padding-bottom: -15px;
}
#iconId{
height: 80px;
background-color: white;
border-radius: 5px;
}
.content{
display: flex;
}
.sidebar{
flex: 1;
height: 535px;
background: #123250d0;
}
.subcontent{
flex: 3;
height: 535px;
background-color: #e0efff;
font-size: 20px;
font-weight: bold;
}
.sidebar-vote{
flex: 1;
height: auto;
background: #123250d0;
}
.subcontent-vote{
flex: 3;
height: auto;
background-color: #e0efff;
font-size: 20px;
font-weight: bold;
}
ul li{
padding: 20px;
border-bottom: 2px solid grey;
list-style-type: none;
}
ul li:hover{
background: #234a7e;
color: white;
}
ul li a {
text-decoration: none;
color: black;
}
ul li  a:hover{
color: white;
cursor: pointer;
}
.information{
box-sizing: border-box;
width: 95%;
margin: 20px 0;
}
.information p{
margin: 0 0 10px;
font-weight: bold;
font-size: 20px;
color: #123250d0;
letter-spacing: 1px;
}
.information p:nth-child(2){
float: right;
position: relative;
top: -32px;
}
.graph{
background: #000000;
padding: 2px;
box-sizing: border-box;
border-radius: 6px;
margin-left: 10px;
}
.percentage{
background: rgb(82, 111, 192);
height: 10px;
border-radius: 6px;
}
.greet{
color: white;
font-weight: bold;
font-size: large;
}
.image{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.image1{
text-align: center;
padding: 0px;
box-shadow: .2em .2em .2em #9c9c9c;
border-radius: .3em;
margin-bottom: 10px;
}
.image1 p{
margin: 0px;
 margin-top: 0px; 
}
.image1 .vote{
margin: 0px;
}
.one{
width: 280px;
height: 280px;
color:rgb(82, 192, 82);
}
.votehere p a {
color: white;
font-weight: bold;
font-size: large;
}
.votehere{
margin-top: -10px;
padding: 20px;
background: #123250d0
}
.voteheredit p a {
color: white;
font-weight: bold;
font-size: large;
}
.voteheredit{
margin-top: -10px;
padding: 20px;
background-color:gray;
}
.voteheredit .first{
margin-top: -10px;
padding: 20px;
background-color:rgb(91, 91, 245);
}
.voteheredit .second{
margin-top: -10px;
padding: 20px;
background: #123250d0;
}
.name, .office{
background-color:rgb(82, 111, 192);
color: white;
font-weight: bold;
font-size: large;
padding: 7px;
cursor: pointer;
}
.post{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 3%;
border-radius: 0.5em;
}
.btn-post{
border-radius: 0.5em;
padding: 2%;
font-size: 1em;
background-color: rgb(82, 192, 82);
font-weight: bold;
cursor: pointer;
margin-right: 60%;
}
.footer{
font-weight: bold;
}
